#
# Uses a custom configuration.
# See also: https://yamllint.readthedocs.io/en/stable/configuration.html#default-configuration
#
# By default the script will exit with a return code 1 only when there is one or more error(s).
# See also https://yamllint.readthedocs.io/en/stable/configuration.html#errors-and-warnings
#

yaml-files:
  - "*.yaml"
  - "*.yml"
  - ".yamllint"

# TODO: Remove each Default/Custom comment when we have decided on rules
rules:
  braces: enable # Default
  brackets: enable # Default
  colons: enable # Default
  commas: enable # Default
  comments: # Custom
    require-starting-space: true
    ignore-shebangs: true
    min-spaces-from-content: 1
  comments-indentation: enable # Custom
  document-end: disable # Default
  document-start: disable # Custom
  empty-lines: enable # Default
  empty-values: disable # Default
  float-values: disable # Default
  hyphens: enable # Default
  indentation: # Custom
    level: warning
    spaces: consistent
    indent-sequences: consistent # Conflicts with YAML Red Hat formatting of arrays on multiple lines
    check-multi-line-strings: false
  key-duplicates: enable # Default
  key-ordering: disable # Default
  line-length: # Custom
    level: warning
    max: 150
    allow-non-breakable-inline-mappings: true
  new-line-at-end-of-file: enable # Default
  new-lines: disable # Custom
  octal-values: disable # Default
  quoted-strings: # Custom # quoted-strings: disable # Default
    quote-type: double
    required: only-when-needed
    extra-required: []
    extra-allowed: []
    allow-quoted-quotes: false
  trailing-spaces: enable # Default
  truthy: disable # Custom
